  
  section > img {
    height:100vh;
    width: 100%;
    /* min-width: 1000px; */
    background-size: cover;
    filter:brightness(0.85);
    overflow:hidden;
    object-fit: cover;
  }
  /* section > h1 {
    color: black;
    position: absolute;
    top: 35%;
    left: 20%;
    font-weight: bold;
    transform: translate(0%, -50%);
    font-size: 65px;
  }
  section > h4 {
    color: black;
    position: absolute;
    top: 55%;
    left: 30%;
    transform: translate(0%, -50%);
    font-size: 45px;    
  }   */
  /* section > h4:last-child {
    color: black;
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(0%, -50%);
    font-size: 45px;    
  } */
  .container-content {
    margin: 0;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 45px;
   }